<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Find peers</title>
	<style>
		:root {
			color-scheme: dark;
			font-family: monospace;
			/* font-weight: 80; */
			font-weight: lighter;
			padding: 0 10px;
			font-size: 22px;
		}

		body {
			width: 100%;
			max-width: 1700px;
			margin: 0 auto;
		}

		h1,
		h5,
		h6 {
			margin: 6px 0px 6px 0px;
		}

		#projects {
			display: flex;
			flex-direction: column;
		}

		.project {
			margin: 100px 0px;
		}

		.project-name {
			font-size: 2.5ch;
			display: flex;
			flex-direction: row;
			align-items: flex-end;
		}

		.users {
			max-width: 100vw;
			flex-wrap: wrap;
			display: flex;
			flex-direction: row;
		}

		.user {
			display: block;
			padding: 20px;
			width: 110px;
			margin-right: 10px;
			display: flex;
			flex-direction: column;
			align-items: center;
			text-decoration: none;
			color: inherit;
		}

		.status {
			font-size: 0.8ch;
		}

		.user-image {
			display: block;
			object-fit: cover;
			box-sizing: border-box;
			background-repeat: no-repeat;
			background-size: cover;
			background-position: 50% 50%;
			background-image: url(/placeholder.png);
			border-radius: 50%;
			align-self: center;
			overflow: hidden;
			height: 110px;
			width: 110px;
			margin-bottom: 10px;
		}

		.user:hover,
		.user:focus {
			box-shadow: 0 0 3px white;
		}

		.n-users {
			font-size: 0.75ch;
			padding: 5px  20px;
		}
	</style>

	<script async>
		console.log('Source: https://github.com/codam-coding-college/find-peers')
	</script>

</head>

<body>

</body>
<h1>Find Peers</h1>
<h6>Hosted and built by Joppe Koers/<a href="https://profile.intra.42.fr/users/jkoers">@jkoers</a> &amp; Freek Bes/<a href="https://profile.intra.42.fr/users/fbes">@fbes</a> - <a href="https://github.com/codam-coding-college/find-peers">Source</a></h6>
<h6>The statuses are updated approximately every <%= updateEveryHours %> hours, last update was on <%= lastUpdate %>: <%= hoursAgo %> hours ago.</h6>
<h5>
	Your campus is
	<select id="campus-selector" onchange="window.location.href='/'+this.value">
		<% campuses.forEach(campus=>{ %>
			<option value="<%= campus.name %>"<% if (campusName == campus.name) { %>selected<% } %>><%= campus.name %></option>
		<% })  %>
	</select>
</h5>

<div id="projects">
	<% projects.forEach(project=>{ %>
		<div class="project">
			<div class="project-name">
				<div>
					<%= project.name %>
				</div>
				<div class="n-users">
					<%= project.users.length %> users
				</div>
			</div>
			<div class="users">
				<% if (project.users.length == 0) { %>
				<p> <small> No users are subscribed to this project </small></p>
				<% } else { %>
				<% project.users.forEach(user=>{ %>
					<a class="user" href="https://profile.intra.42.fr/users/<%= user.login %>" target="_blank">
						<img class="user-image" src="https://cdn.intra.42.fr/users/medium_<%= user.login %>.jpg" loading="lazy"/>
						<div>
							<%= user.login %>
						</div>
						<div class="status">
							<%= user.status %>
						</div>
					</a>
					<% })  %>
				<% }  %>
			</div>
		</div>
</div>
<% }) // /> %>
</div>

<footer>
	<a href="https://github.com/SirMorfield/find-peers">Source</a>
</footer>

</html>
